﻿@model TimeBankWebApplication.Models.Service
<a asp-controller="Services" asp-action="GetService" asp-route-id="@Model.ServiceId">
    <div class="col-sm-3">
        <div class="single-blog">
            @if (@Model.Rate != null)
            {
                <div class="rate-service">@Model.Rate </div>
            }
            <img class="user-service-img" src="@Model.ImageUrl" alt="@Model.Caption" />
            <h2>@Model.Caption</h2>
            <ul class="post-meta">
                <li><i class="fa fa-user"></i><strong> User:</strong> @Model.User.FirstName @Model.User.LastName</li>
                <li><i class="fa fa-money"></i><strong> Credits:</strong> @Model.Credits</li>
                <li><i class="fa fa-folder"></i><strong> Category:</strong> @Model.Category.Name</li>
                <li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> @Model.DateCreated </li>
            </ul>
            <div class="blog-content">
                @Model.Description
            </div>
            <a asp-controller="Orders" asp-action="AddServiceOrder" asp-route-id="@Model.ServiceId" class="btn btn-primary">Want it!</a>
        </div>
    </div>
</a>