﻿@model TimeBankWebApplication.Models.Request

<div class="col-sm-4">
    <div class="single-blog">
        <h2>@Model.Caption</h2>
        <ul class="post-meta">
            <li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> @Model.DateCreated</li>
            <li><i class="fa fa-clock-o"></i><strong> Need to be done:</strong> @Model.DateEnd</li>
            <li><i class="fa fa-folder"></i><strong> Category:</strong> @Model.Category.Name</li>
        </ul>
        <ul class="post-meta">
            @if (Model.IsDone)
            {
                <li><i class="fa fa-money"></i><strong> Credits:</strong> @Model.Credits</li>
            }
            else
            {
                <li><i class="fa fa-money"></i><strong> Hours requested:</strong> @Model.Credits</li>
            }
        </ul>
        <div class="blog-content">
            <p>@Model.Description</p>
        </div>
        <a asp-controller="Orders" asp-action="AddRequestOrder" asp-route-id="@Model.RequestId" class="btn btn-primary">I can do it!</a>
    </div>
</div>