﻿@model TimeBankWebApplication.Models.Request
@{
    ViewData["Title"] = "Add Request";
}
<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">Add Request</h2>
                    <p>Add your own request if you can't find any suitable services</p>
                    <p>The request requires at least 1 credit</p>
                    @if (Model.User.Credits == 0)
                    {
                        <p class="attention">Your balance is @Model.User.Credits</p>
                        <p>You can't create a request. Firts of all you need to earn some credits.</p>
                        <p>To do this go to @Html.ActionLink("Requests", "AllRequests", "Requests") page or receive credits with your @Html.ActionLink("Services", "MyServices", "Services")</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="row text-center clearfix">
                <div class="col-md-7 col-md-offset-2">
                    @if (Model.User.Credits > 0)
                    {
                        <form class="form-horizontal" role="form" asp-action="Add" asp-controller="Requests">
                            <div class="form-group">
                                <label asp-for="CategoryId" class="col-sm-3 control-label"></label>
                                <div class="col-sm-8">
                                    <select asp-for="CategoryId" class="form-control" asp-items="@((List<SelectListItem>)(ViewData["CategoryId"]))"></select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Caption" class="col-sm-3 control-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="Caption" class="form-control">
                                    <span asp-validation-for="Caption" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="col-sm-3 control-label"></label>
                                <div class="col-sm-8">
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Credits" class="col-sm-3 control-label"></label>
                                <div class="col-sm-8">
                                    <input asp-for="Credits" class="form-control">
                                    <span asp-validation-for="Credits" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateEnd" class="col-sm-3 control-label"></label>
                                <div class="col-sm-8">
                                    <div class="input-group date" id="dateTimePicker">
                                        <input asp-for="DateEnd" class="form-control">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar">
                                            </span>
                                        </span>
                                    </div>
                                    <span asp-validation-for="DateEnd" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-11 col-sm-offset-1">
                                <input type="submit" class="btn btn-default" value="Add" />
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $(function () {
            $('#dateTimePicker').datetimepicker({
                viewMode: 'days',
                format: 'MM/DD/YYYY'
            });
        });
    </script>
}