﻿@model TimeBankWebApplication.Models.Request
@{
    ViewData["Title"] = "Delete Request";
}
<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">Delete Request</h2>
                    <p>Are you sure you want to delete your request "@Model.Caption"?</p>
                    <p>After this action your credits will be returned.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="row text-center clearfix">
                <div class="col-md-7 col-md-offset-2">
                    <form asp-action="Delete" class="form-horizontal" asp-controller="Requests">
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-4">
                                <input type="submit" value="Yes" class="btn btn-default" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>