﻿@model TimeBankWebApplication.Models.Request
@{
    ViewData["Title"] = "Request";
}
<section id="blog">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Request</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-3">
                <div class="single-blog">
                    <h2>@Model.Caption</h2>
                    <ul class="post-meta">
                        <li><i class="fa fa-clock-o"></i><strong> User:</strong> @Model.ActiveOrder.User.FirstName @Model.ActiveOrder.User.LastName</li>
                        <li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> @Model.DateCreated</li>
                        <li><i class="fa fa-money"></i><strong> Credits:</strong> @Model.Credits</li>
                    </ul>
                    <div class="blog-content">
                        <p>@Model.Description</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                @if (Model.ActiveOrder != null && Model.ActiveOrder.Response != null)
                {
                    <h3>Response</h3>
                    <div class="list-group">
                        <a class="list-group-item" href="#">
                            <div class="rate-list-item">@Model.ActiveOrder.Response.Rate</div>
                            @Model.ActiveOrder.Response.Description
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</section>