﻿@model IEnumerable<TimeBankWebApplication.Models.Request>
@{
    ViewData["Title"] = "My Requests";
}
<section id="blog">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">My Requests</h2>
                <p class="blog-heading">
                    @if (!Model.Any())
                    {
                        <div class="col-sm-12">You have no requests yet. Create one!</div>
                    }
                    <a asp-controller="Requests" asp-action="Add">Create Request</a>
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4">
                    <div class="@(item.IsActive ? "single-blog" : "single-blog not-active") request">
                        <h2>@item.Caption</h2>
                        <ul class="post-meta">
                            <li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> @item.DateCreated</li>
                            <li><i class="fa fa-folder"></i><strong> Category:</strong> @item.Category.Name</li>
                            @if (item.IsDone)
                            {
                                <li><i class="fa fa-clock-o"></i><strong> Was done:</strong> @item.DateDone</li>
                            }
                            else
                            {
                                <li><i class="fa fa-clock-o"></i><strong> Need to be done:</strong> @item.DateEnd</li>
                            }
                        </ul>
                        <ul class="post-meta">
                        @if (item.IsDone)
                        {
                            <li><i class="fa fa-money"></i><strong> Credits:</strong> @item.Credits</li>
                        }
                        else
                        {
                            <li><i class="fa fa-money"></i><strong> Hours requested:</strong> @item.Credits</li>
                        }
                        </ul>
                        <div class="blog-content">
                            <p>@item.Description</p>
                        </div>
                        @if (item.IsDone)
                        {
                            <div class="order-actions">
                                <a asp-controller="Requests" asp-action="GetRequest" asp-route-id="@item.RequestId" class="btn btn-primary">View feedback</a>
                            </div>
                        }
                        else
                        {
                            if (item.Orders.Any() && item.ActiveOrder != null && item.ActiveOrder.Response == null)
                            {
                                <a asp-controller="Responses" asp-action="Create" asp-route-id="@item.ActiveOrder.OrderId" class="btn btn-primary">Leave feedback</a>
                            }
                            @if (item.IsActive)
                            {
                                <div class="order-actions">
                                    <a asp-controller="Requests" asp-action="Edit" asp-route-id="@item.RequestId" class="btn btn-primary">Edit</a>
                                    <a asp-controller="Requests" asp-action="Delete" asp-route-id="@item.RequestId" class="btn btn-primary">Delete</a>
                                </div>
                            }
                            else
                            {
                                <div class="not-active-alert">This request is not active.</div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>