﻿@model List<TimeBankWebApplication.Models.Category>
<ul class="portfolio-filter text-center" id="categoryList">
    @if (ViewBag.CategoryId == null || (ViewBag.CategoryId != null && ViewBag.CategoryId == 0))
    {
        <li><a class="btn btn-default category active" href="#" id="category-0">All</a></li>
    }
    else
    {
        <li><a class="btn btn-default category" href="#" id="category-0">All</a></li>
    }
    @foreach (var item in Model)
    {
        if (ViewBag.CategoryId != null && ViewBag.CategoryId == item.CategoryId)
        {
            <li><a class="btn btn-default category active" href="#" id="category-@item.CategoryId">@item.Name</a></li>
        }
        else
        {
            <li><a class="btn btn-default category" href="#" id="category-@item.CategoryId">@item.Name</a></li>
        }
    }
</ul>