@model TimeBankWebApplication.Models.Category

@{
    ViewData["Title"] = "Delete Category";
    Layout = "_LayoutAdmin";
}

<form asp-action="DeleteCategory" class="form-horizontal admin-form" asp-controller="Admin">
        <h4 class="col-sm-6 control-label">Are you sure you want to delete category "@Model.Name"?</h4>
        <div class="col-sm-6"><input type="submit" value="Yes" class="btn btn-default" /></div>
</form>