﻿@model TimeBankWebApplication.Models.Service

@{
    ViewData["Title"] = "Delete Service";
    Layout = "_LayoutAdmin";
}

<form asp-action="DeleteService" class="form-horizontal admin-form" asp-controller="Admin">
    <h4 class="col-sm-6 control-label">Are you sure you want to delete service "@Model.Caption"?</h4>
    <div class="col-sm-6"><input type="submit" value="Yes" class="btn btn-default" /></div>
</form>