﻿@model TimeBankWebApplication.Models.Request

@{
    ViewData["Title"] = "Delete Request";
    Layout = "_LayoutAdmin";
}

<form asp-action="DeleteRequest" class="form-horizontal admin-form" asp-controller="Admin">
    <h4 class="col-sm-6 control-label">Are you sure you want to delete request "@Model.Caption"?</h4>
    <div class="col-sm-6"><input type="submit" value="Yes" class="btn btn-default" /></div>
</form>