﻿@model TimeBankWebApplication.Models.Request

@{
    ViewData["Title"] = "Edit Request";
    Layout = "_LayoutAdmin";
}
<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">Edit Request</div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" asp-action="EditRequest" asp-controller="Admin">
            <div class="form-group">
                <input hidden asp-for="RequestId" />
                <input hidden asp-for="Caption" />
                <input hidden asp-for="Credits" />
                <input hidden asp-for="Description" />
                <label asp-for="OffReason" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <textarea asp-for="OffReason" class="form-control"></textarea>
                    <span asp-validation-for="OffReason" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="Turn Off" />
                </div>
            </div>
        </form>
    </div>
</div>
