@model IEnumerable<TimeBankWebApplication.Models.Category>

@{
    ViewData["Title"] = "Categories";
    Layout = "_LayoutAdmin";
}

<div class="content-box-large">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>Categories</h3>
        </div>
        <div><a asp-action="CreateCategory" asp-controller="Admin" class="btn btn-default btn-sm">+</a></div>
    </div>
    <div class="panel-body">
        @if (Model.Any())
        {
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>Count of services</th>
                    <th>Count of requests</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="odd gradeX">
                        <td class="center">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="center">@item.Services.Count</td>
                        <td class="center">@item.Requests.Count</td>
                        <td class="center"><a asp-controller="Admin" asp-action="GetCategoryServices" asp-route-id="@item.CategoryId" class="btn btn-default btn-sm">Go to Services</a></td>
                        <td class="center"><a asp-controller="Admin" asp-action="GetCategoryRequests" asp-route-id="@item.CategoryId" class="btn btn-default btn-sm">Go to Requests</a></td>
                        <td class="center"><a asp-controller="Admin" asp-action="EditCategory" asp-route-id="@item.CategoryId" class="btn btn-default btn-sm">Edit</a></td>
                        <td class="center"><a asp-controller="Admin" asp-action="DeleteCategory" asp-route-id="@item.CategoryId" class="btn btn-default btn-sm">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>