﻿@model IEnumerable<TimeBankWebApplication.Models.Request>

@{
    ViewData["Title"] = "Requests";
    Layout = "_LayoutAdmin";
}

<div class="content-box-large">
    <div class="panel-heading">
        @if (@ViewData["CategoryName"] != null)
        {
            <div class="panel-title">
                <h3>Requests in @ViewData["CategoryName"] category</h3>                
            </div>
            <div><a asp-action="GetCategories" asp-controller="Admin" class="btn btn-default btn-sm">Back</a></div>
        }
        else
        {
            <div class="panel-title">
                <h3>Requests</h3>
            </div>
        }
    </div>
    <div class="panel-body">
        @if (Model.Any())
        {
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.CategoryId)</th>
                        <th>@Html.DisplayNameFor(model => model.Caption)</th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                        <th>@Html.DisplayNameFor(model => model.DateCreated)</th>
                        <th>@Html.DisplayNameFor(model => model.DateEnd)</th>
                        <th>@Html.DisplayNameFor(model => model.IsDone)</th>
                        <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                        <th>@Html.DisplayNameFor(model => model.OffReason)</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr class="odd gradeX">
                            <td class="center">@item.Category.Name</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.Caption)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.Description)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.DateCreated)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.DateEnd)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.IsDone)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.IsActive)</td>
                            <td class="center">@Html.DisplayFor(modelItem => item.OffReason)</td>
                            <td class="center">
                                @if (item.IsActive)
                                {
                                    <a asp-controller="Admin" asp-action="EditRequest"
                                       asp-route-id="@item.RequestId" class="btn btn-default btn-sm">Turn Off</a>
                                }
                                else
                                {
                                    <form asp-action="TurnOnRequest" asp-controller="Admin" asp-route-id="@item.RequestId">
                                        <input type="submit" class="btn btn-default btn-sm" value="Turn On" />
                                    </form>
                                }
                            </td>
                            <td class="center"><a asp-controller="Admin" asp-action="DeleteRequest" 
                                                  asp-route-id="@item.RequestId" class="btn btn-default btn-sm">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>There is no requests!</h3>
        }
    </div>
</div>