﻿@model TimeBankWebApplication.Models.Response
@{
    ViewData["Title"] = "Create Response";
}
<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">Add Response</h2>
                    <p>Leave a feedback for service</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="row text-center clearfix">
                <div class="col-md-7 col-md-offset-2">
                    <form class="form-horizontal" role="form" asp-action="Create" asp-controller="Responses">
                        <input hidden asp-for="OrderId" />
                        <div class="form-group">
                            <label asp-for="Caption" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Caption" class="form-control">
                                <span asp-validation-for="Caption" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rate" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                @foreach (var item in Model.Rates)
                                {
                                    <input asp-for="Rate" type="radio" value="@item" /> @item
                                }
                                <span asp-validation-for="Rate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Credits" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Credits" class="form-control">
                                <span asp-validation-for="Credits" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-11 col-sm-offset-1">
                            <input type="submit" class="btn btn-default" value="Add" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>