﻿@model IEnumerable<TimeBankWebApplication.Models.Response>
@{
    ViewData["Title"] = "My Responses";
}
<section id="blog">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">My Responses</h2>
                <p class="blog-heading">
                    @if (!Model.Any())
                    {
                        <div class="col-sm-12">You have no responses yet. Create one!</div>
                    }
                    <a asp-controller="Orders" asp-action="MyOrders">Orders</a>
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-3">
                    <div class="single-blog">
                        <div class="rate">@item.Rate</div>
                        @if (item.Order.ServiceId != null)
                        {
                            <h2>@item.Order.Service.Caption</h2>
                        }
                        else if (item.Order.RequestId != null)
                        {
                            <h2>@item.Order.Request.Caption</h2>
                        }
                        <h4>@item.Caption</h4>
                        <ul class="post-meta">
                            <li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> @item.DateCreated</li>
                        </ul>
                        <div class="blog-content">
                            <p>@item.Description</p>
                        </div>
                        @if (item.Order.ServiceId != null)
                        {
                            <a asp-controller="Services" asp-action="GetService" asp-route-id="@item.Order.ServiceId" class="btn btn-primary">Go to service</a>
                        }
                        else if (item.Order.RequestId != null)
                        {
                            <a asp-controller="Requests" asp-action="GetRequest" asp-route-id="@item.Order.RequestId" class="btn btn-primary">Go to request</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>