﻿@model TimeBankWebApplication.Models.Service
@{
    ViewData["Title"] = "Add Service";
}
<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">Add Service</h2>
                    <p>Add your own service</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="row text-center clearfix">
                <div class="col-md-7 col-md-offset-2">
                    <form class="form-horizontal" role="form" asp-action="Add" asp-controller="Services" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="CategoryId" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <select asp-for="CategoryId" class="form-control" asp-items="@((List<SelectListItem>) (ViewData["CategoryId"]))"></select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Caption" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Caption" class="form-control">
                                <span asp-validation-for="Caption" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Image" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <input type="file" asp-for="Image" class="form-control">
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Credits" class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <input asp-for="Credits" class="form-control">
                                <span asp-validation-for="Credits" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-11 col-sm-offset-1">
                            <input type="submit" class="btn btn-default" value="Add" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>