﻿@model IEnumerable<TimeBankWebApplication.Models.Service>
@using TimeBankWebApplication.ViewComponents
@using TimeBankWebApplication.Helpers
@{
    ViewData["Title"] = "Services";
}
<section id="blog">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">All Services</h2>
                <p class="blog-heading">
                    @if (!Model.Any())
                    {
                        <div class="col-sm-12">We have no services yet.</div>
                    }
                </p>
            </div>
        </div>
        @await Component.InvokeAsync(nameof(Categories), 0)
        <div id="preloaderServices">
            <div class="preloder-wrap">
                <div class="preloder-inner">
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                </div>
            </div>
        </div>
        <div class="row dataBlock" id="servicesBlock">
            @Html.Partial("ServicesPartialView", Model)
        </div>
    </div>
    <div id="paginationBlock">
        @if (ViewBag.pager != null)
        {
            @await Component.InvokeAsync(nameof(Pagination), (Pager)ViewBag.pager);
        }
    </div>
</section>

@section scripts{
    <script>
        $(document).on('click', '.page', function (evt) {
            var selectedPage = $(evt.target);
            var pageId = selectedPage[0].id;
            var pageNumber = pageId.substr(5);
            hideItems();
            var selectedCategory = $("#categoryList .active")[0].id;
            var category = selectedCategory.substr(9);
            $("#servicesBlock").load("/Services/Category",
                { id: category, page: pageNumber }, function () {
                    refreshPaginationComponent(pageNumber, category);
                    showItems();
                });
        });
        function hideItems() {
            $("#servicesBlock").fadeOut("slow");
            $("#paginationBlock").fadeOut("slow");
            $("#preloaderServices").fadeIn("slow");
        };
        function showItems() {
            $("#preloaderServices").fadeOut("slow");
            $("#servicesBlock").fadeIn("slow");
            $("#paginationBlock").fadeIn("slow");
        };
        function refreshPaginationComponent(pageNumber, categoryId) {
            $("#paginationBlock").load("/Services/PaginationViewComponent",
                { page: pageNumber, action: "AllServices", routeCategory: categoryId });
        };
        $(document).ready(function () {
            $("#preloaderServices").fadeOut("slow");
            $(".category").click(function (evt) {
                hideItems();
                var selectedCategory = $(evt.target);
                var categoryId = selectedCategory[0].id.substr(9);
                var pageNumber = $("#pagination .active a").text();
                $("#servicesBlock").load("/Services/Category",
                    { id: categoryId, page: pageNumber }, function () {
                        refreshPaginationComponent(pageNumber, categoryId);
                        showItems();
                    });
            });
        });
    </script>
}