﻿@model TimeBankWebApplication.Models.Service
@{
    ViewData["Title"] = "Delete Service";
}
<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">Delete Service</h2>
                    <p>Are you sure you want to delete service "@Model.Caption"?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="row text-center clearfix">
                <div class="col-sm-9 col-sm-offset-2">
                    <form asp-action="Delete" class="form-horizontal" asp-controller="Services">
                        <div class="form-group">
                            <div class="col-sm-7 col-sm-offset-2">
                                <input type="submit" value="Yes" class="btn btn-default" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>