﻿@model TimeBankWebApplication.Models.Service
@{
    ViewData["Title"] = "Service Responses";
}
<section id="blog">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Service Responses</h2>
                <p class="blog-heading">
                    @Html.ActionLink("Service", "GetService", "Services", new { id = Model.ServiceId })
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in (from order in Model.Orders
                                  select order.Response))
            {
                <div class="col-sm-4">
                    <div class="single-blog">
                        <div class="rate">@item.Rate</div>
                        <h2>@item.Caption</h2>
                        <ul class="post-meta">
                            <li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> @item.DateCreated</li>
                        </ul>
                        <div class="blog-content">
                            <p>@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>