﻿@model TimeBankWebApplication.Models.Service
@{
    ViewData["Title"] = "Service";
}
<section id="blog">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">Service</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-3">
                <div class="single-blog">
                    @if (@Model.Rate != null)
                    {
                        <div class="rate">@Model.Rate</div>
                    }
                    <img class="user-service-img" src="@Model.ImageUrl" alt="@Model.Caption" />
                    <h2>@Model.Caption</h2>
                    <ul class="post-meta">
                        <li><i class="fa fa-user"></i><strong> User:</strong> @Model.User.FirstName @Model.User.LastName</li>
                        <li><i class="fa fa-money"></i><strong> Credits:</strong> @Model.Credits</li>
                        <li><i class="fa fa-folder"></i><strong> Category:</strong> @Model.Category.Name</li>
                        <li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> @Model.DateCreated</li>
                    </ul>
                    <div class="blog-content">
                        <p>@Model.Description</p>
                    </div>
                    @if (Model.IsActive)
                    {
                        if (Model.UserId != ViewBag.CurrentUserId)
                        {
                            <a asp-controller="Orders" asp-action="AddServiceOrder" asp-route-id="@Model.ServiceId" class="btn btn-primary">Want it!</a>
                        }
                    }
                    else
                    {
                        <div class="not-active-alert">This service is not active.</div>
                    }
                </div>
            </div>
            <div class="col-sm-4">
                <h3>Responses</h3>
                @if (Model.Orders.Any() && (from order in Model.Orders select order.Response != null).Count() > 0)
                {
                    <div class="list-group">
                        @foreach (var response in from order in Model.Orders where order.Response != null select order.Response)
                        {
                            <a class="list-group-item" href="#">
                                <div class="rate-list-item">@response.Rate</div>
                            @response.Description</a>
                        }
                    </div>
                }
                else
                {
                    <h4>There is no responses yet.</h4>
                }
            </div>
        </div>
    </div>
</section>