﻿@model IEnumerable<TimeBankWebApplication.Models.Service>
@{
    ViewData["Title"] = "My Services";
}
<section id="blog">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">My Services</h2>
                <p class="blog-heading">
                    @if (!Model.Any())
                    {
                        <div class="col-sm-12">You have no services yet. Create one!</div>
                    }
                    <a asp-controller="Services" asp-action="Add">Add Service</a>
                </p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <a asp-controller="Services" asp-action="GetService" asp-route-id="@item.ServiceId">
                    <div class="col-sm-3">
                        <div class="@(item.IsActive ? "single-blog" : "single-blog not-active")">
                            @if (@item.Rate != null)
                            {
                                <div class="rate">@item.Rate</div>
                            }
                            <img class="user-service-img" src="@item.ImageUrl" alt="@item.Caption" />
                            <h2>@item.Caption</h2>
                            <ul class="post-meta">
                                <li><i class="fa fa-user"></i><strong> User:</strong> @item.User.FirstName @item.User.LastName</li>
                                <li><i class="fa fa-money"></i><strong> Credits:</strong> @item.Credits</li>
                                <li><i class="fa fa-folder"></i><strong> Category:</strong> @item.Category.Name</li>
                                <li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> @item.DateCreated</li>
                            </ul>
                            <div class="blog-content">
                                <p>@item.Description</p>
                            </div>
                            @if (item.IsActive) {
                                <a asp-controller="Services" asp-action="Edit" asp-route-id="@item.ServiceId" class="btn btn-primary">Edit</a>
                                <a asp-controller="Services" asp-action="Delete" asp-route-id="@item.ServiceId" class="btn btn-primary">Delete</a>
                            }
                            else
                            {
                                <div class="not-active-alert">This service is not active.</div>
                            }
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</section>