@model TimeBankWebApplication.Models.Order
@{
    ViewData["Title"] = "Request Order";
}
<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">@Model.Request.Caption</h2>
                    <p>If you want to help, just click next button</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="row text-center clearfix">
                <div class="col-sm-8 col-sm-offset-2">
                    <form class="form-horizontal" role="form" asp-action="SaveRequest" asp-controller="Orders">
                        <input hidden asp-for="UserId" />
                        <input hidden asp-for="RequestId" />
                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-default" value="Send" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>