﻿@model TimeBankWebApplication.Models.Order
@{
    ViewData["Title"] = "Service Order";
}
<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">@Model.Service.Caption</h2>
                    <p>If you need help, just click next button</p>
                    <p>This service requires @Model.Service.Credits credits</p>
                    @if (Model.User.Credits < Model.Service.Credits)
                    {
                        <p class="attention">Your balance is @Model.User.Credits</p>
                        <p>You can't use this service. First of all you need to earn some credits.</p>
                        <p>To do this go to @Html.ActionLink("Requests", "AllRequests", "Requests") page or receive credits with your @Html.ActionLink("Services", "MyServices", "Services")</p>
                    }
                    @if (Model.User.IsActiveServiceOrder(Model.ServiceId))
                    {
                        <p>You have already ordrered this service. You can't order it again before you finish the previous.</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="row text-center clearfix">
                <div class="col-sm-8 col-sm-offset-2">
                    <form class="form-horizontal" role="form" asp-action="SaveService" asp-controller="Orders">
                        <input hidden asp-for="UserId" />
                        <input hidden asp-for="ServiceId" />
                        <div class="col-md-6 col-md-offset-3">
                            <img class="service-order-image" src="@Model.Service.ImageUrl" />
                        </div>
                        <div class="col-sm-12">
                            @if (Model.User.Credits >= Model.Service.Credits && !Model.User.IsActiveServiceOrder(Model.ServiceId))
                            {
                                <input type="submit" class="btn btn-default" value="Send request" />
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>