﻿@model TimeBankWebApplication.Models.Order
@{
    ViewData["Title"] = "Refuse Service";
}
<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">Refuse from Service</h2>
                    <p>Are you sure you want to refuse from this service: "@Model.Service.Caption"?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="row text-center clearfix">
                <div class="col-sm-7 col-sm-offset-2">
                    <form asp-action="DeleteService" class="form-horizontal" asp-controller="Orders">
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-4">
                                <input type="submit" value="Yes" class="btn btn-default" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>