﻿@model IEnumerable<TimeBankWebApplication.Models.Order>
@{
    ViewData["Title"] = "Orders";
}
<section id="blog">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="title-one">My Orders</h2>
                <p class="blog-heading">
                    @if (!Model.Any())
                    {
                        <div class="col-sm-12">You have no orders yet. Go to @Html.ActionLink("Services", "Services", "AllServices") or @Html.ActionLink("Requests", "Requests", "AllRequests") to create one!</div>
                    }
                </p>
            </div>
        </div>
        <ul class="portfolio-filter text-center orders-filter">
            <li><a class="btn btn-default active" href="#" id="orders-all">All</a></li>
            <li><a class="btn btn-default" href="#" id="orders-services">Services</a></li>
            <li><a class="btn btn-default" href="#" id="orders-requests">Requests</a></li>
            <li><a class="btn btn-default" href="#" id="orders-active">Active</a></li>
            <li><a class="btn btn-default" href="#" id="orders-notactive">Not active</a></li>
            <li><a class="btn btn-default" href="#" id="orders-isdone">Is done</a></li>
            <li><a class="btn btn-default" href="#" id="orders-isnotdone">Is not done</a></li>
        </ul>
        <div id="preloaderOrders">
            <div class="preloder-wrap">
                <div class="preloder-inner">
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                    <div class="ball"></div>
                </div>
            </div>
        </div>
        <div class="row" id="ordersBlock">
            @Html.Partial("OrdersPartialView", Model)
        </div>
    </div>
</section>
@section scripts{
    <script>
        function hideItems() {
            $("#ordersBlock").fadeOut("slow");
            $("#preloaderOrders").fadeIn("slow");
        };
        function showItems() {
            $("#preloaderOrders").fadeOut("slow");
            $("#ordersBlock").fadeIn("slow");
        };
        $(document).ready(function () {
            $("#preloaderOrders").fadeOut("slow");
            $(".orders-filter a").click(function (evt) {
                $(".orders-filter a").removeClass("active");
                $(this).addClass('active');
                hideItems();
                var selectedCategory = $(evt.target);
                selectedCategory
                var categoryId = selectedCategory[0].id;
                $("#ordersBlock").load("/Orders/Category",
                    { id: categoryId }, function () {
                        showItems();
                    });
            });
        });
    </script>
}