﻿@model TimeBankWebApplication.ViewModels.ContactViewModel
@using TimeBankWebApplication.ViewComponents
@{
    ViewData["Title"] = "Home";
}
<section id="home">
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
        </ol><!--/.carousel-indicators-->
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(/images/slide3.jpg)">
                <div class="carousel-caption">
                    <div>
                        <h2 class="heading animated bounceInDown">Use our services for free!</h2>
                        <p class="animated bounceInUp">Just go to Services and choose what you want</p>
                        <a class="btn btn-default slider-btn animated fadeIn" asp-controller="Services" 
                           asp-action="AllServices">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="item" style="background-image: url(/images/slide2.jpg)">
                <div class="carousel-caption">
                    <div>
                        <h2 class="heading animated bounceInDown">Create requests!</h2>
                        <p class="animated bounceInUp">Create requests if you need something! </p> 
                        <a class="btn btn-default slider-btn animated fadeIn" asp-controller="Requests" 
                           asp-action="AllRequests">Get Started</a>
                    </div>
                </div>
            </div>
        </div><!--/.carousel-inner-->

        <a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div>

</section>
<section id="about-us">
    <div class="container">
        <div class="text-center">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="title-one">What is Timebanking?</h2>
                <p>Timebanking is a kind of money. Give one hour of service to another, 
                and receive one time credit.
                For one person to earn a time credit, however, someone else has to agree to give it. 
                Timebanking happens when a network or circle of members have agreed that they will 
                give and receive credits for services that other members provide. Those networks 
                are called “timebanks.”</p>
            </div>
        </div>
        <div class="about-us">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="title">Getting started</h3>
                    <p>Timebank members in many timebanks keep track of their exchanges 
                    using timebanking software. They use the software to enter data about 
                    themselves, what they can offer, and what they would like to receive, to 
                    record their exchanges, track their hours, and learn about timebank members and events.
                    </p>
                    <h3 class="title">What do you need?</h3>
                    <div class="to-do-list list-group">
                        <a asp-action="AllServices" asp-controller="Services" class="list-group-item">                            
                            <p class="list-group-item-heading">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                Find a service
                            </p>
                            <p class="list-group-item-text">
                                Go to Services page and select what you need to receive. 
                                Every service have a minimum number of required credits.
                            </p>
                        </a>
                        <a asp-action="AllRequests" asp-controller="Requests" class="list-group-item">                            
                            <p class="list-group-item-heading">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                Find a request
                            </p>
                            <p class="list-group-item-text">
                                Go to Requests page and select what you can do to help.
                                You'll receive credits after it will be done.
                            </p>
                        </a>
                        <a asp-action="Add" asp-controller="Services" class="list-group-item">
                            <p class="list-group-item-heading">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                Create a service
                            </p>
                            <p class="list-group-item-text">
                                You can create your own services and easy receive credits.
                            </p>
                        </a>
                        <a asp-action="Add" asp-controller="Requests" class="list-group-item">
                            <p class="list-group-item-heading">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                Create a request
                            </p>
                            <p class="list-group-item-text">
                                You can create your own requests if you need something and if you can't find a service.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync(nameof(TopServices), 4)
    </div>
</section>
@await Component.InvokeAsync(nameof(NewServices), 4)
<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">Contact With Us</h2>
                    <p>We are always ready to answer on your questions</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="row text-center clearfix">
                <div class="col-sm-6">
                    <div class="contact-address">
                        <address><p><span>Bank of</span>Time</p><strong><br>Lviv<br> 29000, Ukraine</strong><br></address>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/dana.baula"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/bohdana-baula/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="contact-form-section">
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="contact-form" class="contact" name="contact-form" method="post" asp-action="Contact" asp-controller="Home">
                            <div class="form-group">
                                <input type="text" asp-for="Name" name="name" class="form-control name-field" required="required" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="email" asp-for="Email" name="email" class="form-control mail-field" required="required" placeholder="Your Email">
                            </div>
                            <div class="form-group">
                                <textarea name="message" asp-for="Message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<div id="contactModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Message was sent</h4>
            </div>
            <div class="modal-body">
                <p>Your contact message was successfully sent.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            if ('@TempData["ContactFormSubmitted"]' != "")
            {
                $('#contactModal').modal('show');
            }
        });
    </script>
}