﻿@model IEnumerable<TimeBankWebApplication.Models.Service>
@if (Model.Any())
{
<section id="new-services">
    <div class="container">
        <div class="contact-details">
            <div class="row">
                <div class="col-md-12">
                    <div class="single-product-widget">
                        <h2 class="product-wid-title title">New services</h2>
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                @await Component.InvokeAsync(nameof(TimeBankWebApplication.ViewComponents.Service), item);
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>
}