﻿@model TimeBankWebApplication.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Edit Personal Data";
}
<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">Edit Personal Data</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="row text-center clearfix">
                <form class="form-horizontal" role="form" asp-controller="Account" asp-action="EditPersonalData">
                    <div class="row col-sm-12 form-horizontal">
                        <input hidden asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <input asp-for="FirstName" class="form-control">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <input asp-for="LastName" class="form-control">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <input asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <input asp-for="Address" class="form-control">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="control-label col-sm-2"></label>
                            <div class="col-sm-10">
                                <input asp-for="Phone" class="form-control">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-default" value="Save" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
