﻿@model TimeBankWebApplication.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">Register</h2>
                    <h3>Associate your @ViewData["LoginProvider"] account.</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="contact-details">
            <div class="row text-center clearfix">
                <div class="col-md-8 col-md-offset-2">
                    <form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <h4>Association Form</h4>
                        <hr />
                        <p class="text-info">
                            You've successfully authenticated with <strong>@ViewData["LoginProvider"]</strong>.
                            Please enter an all required fields for this site below and click the Register button to finish
                            logging in.
                        </p>
                        <div class="form-group">
                            <label asp-for="Login" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Login" class="form-control">
                                <span asp-validation-for="Login" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="ConfirmPassword" class="form-control">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="FirstName" class="form-control">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="LastName" class="form-control">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Address" class="form-control">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Phone" class="form-control">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-sm-offset-10">
                            <input type="submit" class="btn btn-default" value="Register" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
