﻿@model TimeBankWebApplication.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Personal Cabinet";
}
<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">Personal Cabinet - <a asp-controller="Account" asp-action="EditPersonalData">Edit</a></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="row text-center clearfix">
                <div class="row col-sm-12 form-horizontal">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="FirstName" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="LastName" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Email" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Address" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Phone" class="form-control" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>