@model TimeBankWebApplication.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<section id="contact">
    <div class="container">
        <div class="row text-center clearfix">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="contact-heading">
                    <h2 class="title-one">Register</h2>
                    <p>Register using your E-mail</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="contact-details">
            <div class="row text-center clearfix">
                <div class="col-sm-7 col-sm-offset-2">
                    <form class="form-horizontal" role="form" asp-action="Register" asp-controller="Account">
                        <div class="form-group">
                            <label asp-for="Login" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Login" class="form-control">
                                <span asp-validation-for="Login" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="ConfirmPassword" class="form-control">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="FirstName" class="form-control">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="LastName" class="form-control">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Address" class="form-control">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Phone" class="form-control">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-2 col-sm-offset-10">
                            <input type="submit" class="btn btn-default" value="Register" />
                        </div>
                    </form>
                </div>
            </div>                    
        </div>
    </div>
</section>