﻿<!DOCTYPE html>
<html>
<head>
    <title>TimeBank Admin Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="~/css/admin.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--datetimepicker-->
    <link rel="shortcut icon" href="~/images/ico/logo.ico">
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css" />    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/admin.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a asp-controller="Home" asp-action="Index">TimeBank Admin Page</a></h1>
                    </div>
                </div>
                <div class="col-md-offset-5 col-md-2 logout">
                    <a asp-controller="Account" asp-action="LogOff">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li><a asp-controller="Admin" asp-action="GetCategories"><i class="glyphicon glyphicon-folder-open"></i> Categories</a></li>
                        <li><a asp-controller="Admin" asp-action="GetServices"><i class="glyphicon glyphicon-folder-open"></i> Services</a></li>
                        <li><a asp-controller="Admin" asp-action="GetRequests"><i class="glyphicon glyphicon-folder-open"></i> Requests</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="copy text-center">
                Copyright 2017 <a href='https://www.facebook.com/dana.baula' target="_blank">DanaBaula</a>
            </div>
        </div>
    </footer>
</body>
</html>