﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Microsoft.Extensions.Options
@using TimeBankWebApplication.Models
@inject IOptions<AppSettings> Settings
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bank of Time</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">     
    <link href="~/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--[if lt IE 9]> <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script> <![endif]-->
    <link rel="shortcut icon" href="~/images/ico/logo.ico">
    <link rel="icon-precomposed" sizes="144x144" href="~/images/ico/logo.ico">
    <link rel="icon-precomposed" sizes="114x114" href="~/images/ico/logo.ico">
    <link rel="icon-precomposed" sizes="72x72" href="~/images/ico/logo.ico">
    <link rel="icon-precomposed" href="~/images/ico/logo.ico">
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="preloader">
        <div class="preloder-wrap">
            <div class="preloder-inner">
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
                <div class="ball"></div>
            </div>
        </div>
    </div>
    <header id="navigation">
        <div class="navbar navbar-inverse navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><h1><img src="~/images/logo.png" alt="logo"></h1></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="scroll"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.Identity.Name == Settings.Value.AdminEmail)
                            {
                                <li class="scroll"><a asp-controller="Admin" asp-action="GetCategories">Admin</a></li>
                            }
                            else
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Requests <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-controller="Requests" asp-action="AllRequests">All Requests</a></li>
                                        <li><a asp-controller="Requests" asp-action="MyRequests">My Requests</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a asp-controller="Services" asp-action="AllServices">All Services</a></li>
                                        <li><a asp-controller="Services" asp-action="MyServices">My Services</a></li>
                                    </ul>
                                </li>
                                <li class="scroll"><a asp-controller="Responses" asp-action="MyResponses">My Responses</a></li>
                                <li class="scroll"><a asp-controller="Orders" asp-action="MyOrders">My Orders</a></li>
                                <li class="scroll"><a asp-controller="Account" asp-action="PersonalCabinet">Settings</a></li>
                            }
                            @await Component.InvokeAsync(nameof(TimeBankWebApplication.ViewComponents.CreditsCount))
                            <li class="scroll">
                                <a asp-controller="Account" asp-action="LogOff">Log off</a>
                            </li>
                        }
                        else
                        {
                            <li class="scroll"><a asp-controller="Requests" asp-action="AllRequests">Requests</a></li>
                            <li class="scroll"><a asp-controller="Services" asp-action="AllServices">Services</a></li>
                            <li class="scroll"><a asp-controller="Account" asp-action="Login">Login</a></li>
                            <li class="scroll"><a asp-controller="Account" asp-action="Register">Register</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div><!--/navbar-->
    </header> <!--/#navigation--> 
        @RenderBody()
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                <p>Copyright &copy; 2017 - <a href="https://www.facebook.com/dana.baula">Dana Baula</a> | All Rights Reserved</p>
            </div>
        </div>
    </footer> <!--/#footer-->

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/smoothscroll.js"></script>
    <script type="text/javascript" src="~/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="~/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script> 
    <script type="text/javascript" src="~/js/moment.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-datetimepicker.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
