﻿@model IEnumerable<TimeBankWebApplication.Models.Order>
@{
    Layout = null;
}
@foreach (var item in Model)
{
    <div class="col-sm-3 @(item.Request == null ? "service" : "request")">
        <div class="@(item.IsActive ? "single-blog order" : "single-blog order not-active")">
            <!--if request-->
            @if (item.Request != null)
            {
                <h2>Request</h2>
                <h4>@item.Request.Caption</h4>
                <ul class="post-meta">
                    <li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> @item.Request.DateCreated</li>
                    @if (item.Request.IsDone)
                    {
                        <li><i class="fa fa-clock-o"></i><strong> Was done:</strong> @item.DateDone</li>
                        <li><i class="fa fa-money"></i><strong> Credits:</strong> @item.Credits</li>
                    }
                    else
                    {
                        <li><i class="fa fa-clock-o"></i><strong> Need to be done:</strong> @item.Request.DateEnd</li>
                    }
                </ul>
                <div class="blog-content">
                    <p>@item.Request.Description</p>
                </div>
                @if (item.Request.IsDone)
                {
                    if (item.Response == null)
                    {
                        <p>You haven't received a response yet.</p>
                    }
                    else
                    {
                        <a asp-controller="Requests" asp-action="GetRequest" asp-route-id="@item.RequestId" class="btn btn-primary">View feedback</a>
                    }
                }
                else if (item.IsActive)
                {
                    <div class="order-actions">
                        <a asp-controller="Orders" asp-action="DeleteRequest" asp-route-id="@item.OrderId" class="btn btn-primary">Refuse</a>
                    </div>
                }
                else
                {
                    <div class="divOrderNotActive">This order is not active anymore.</div>
                }
            }
            else
            {
                <!--if service-->
                <h2>Service</h2>
                <h4>@item.Service.Caption</h4>
                <ul class="post-meta">
                    <li><i class="fa fa-clock-o"></i><strong> Created On:</strong> @item.DateCreated</li>
                    @if (item.IsDone)
                    {
                        <li><i class="fa fa-clock-o"></i><strong> Was done:</strong> @item.DateDone</li>
                        <li><i class="fa fa-money"></i><strong> Credits:</strong> @item.Credits</li>
                    }
                </ul>
                <div class="blog-content">
                    <p>@item.Service.Description</p>
                </div>
                @if (item.IsDone)
                {
                    if (item.Response == null)
                    {
                        <a asp-controller="Responses" asp-action="Create" asp-route-id="@item.OrderId" class="btn btn-primary">Leave feedback</a>
                    }
                    else
                    {
                        <a asp-controller="Services" asp-action="GetService" asp-route-id="@item.ServiceId" class="btn btn-primary">View feedback</a>
                    }
                }
                else if (item.IsActive)
                {
                    <div class="order-actions">
                        <a asp-controller="Orders" asp-action="DeleteService" asp-route-id="@item.OrderId" class="btn btn-primary">Refuse</a>
                        <a asp-controller="Responses" asp-action="Create" asp-route-id="@item.OrderId" class="btn btn-primary">Was done</a>
                    </div>
                }
                else
                {
                    <div class="divOrderNotActive">This order is not active anymore.</div>
                }
            }
        </div>
    </div>
}