﻿@model IEnumerable<TimeBankWebApplication.Models.Request>
@{
    Layout = null;
}
@if (!Model.Any())
{
    <h3 id="requestsHeading" class="col-sm-10 col-sm-offset-1">There is no requests in @ViewBag.Category yet.</h3>
}
@foreach (var item in Model)
{
    @await Component.InvokeAsync(nameof(TimeBankWebApplication.ViewComponents.Request), item)
}