﻿@model IEnumerable<TimeBankWebApplication.Models.Service>
@{ 
    Layout = null;
}
@if (!Model.Any())
{
    <h3 id="servicesHeading" class="col-sm-10 col-sm-offset-1">There is no services in @ViewBag.Category yet.</h3>
}
@foreach (var item in Model)
{
    @await Component.InvokeAsync(nameof(TimeBankWebApplication.ViewComponents.Service), item)
}